/* Set color palette */
:root {
	--dark-shades: #271A2E;
	--light-shades: #F4F5E9;
	--main: #F3D83B;
	--alert: #F44336;
	--success: #448748;
	--comment-background: #5e5065;
}
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", helvetica, sans-serif;
}

h1, h2, h3, h4, p, form{
  margin: 0;
  padding: 0;
}

form {
	margin-bottom: auto;
	padding-bottom: 10px;
}

h1 {
	font-size: calc(14px + 1vw);
	line-height: calc(1.1em + 0.5vw);
}

p {
	margin-top: 0.25%;
  line-height: 120%;
	font-size: 18px;
	line-height: calc(1em + 0.5vw);
}

input {
	cursor: text;
}

.hidden {
	display: none;
}

.page-main {
	display: flex;
	flex-direction: column;
	background-color: var(--light-shades);
	min-height: 100vh;
}

.center {
	margin: auto;
	width: 50%;
	top: 12.5%;
	border: none;
	padding: 10px;
}

.inline {
	display: inline;
}

.text-centered {
	text-align: center;
}

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

.four-fifth {
	width: 80%;
}

.one-fifth {
	flex: 20%;
}

.bold {
	font-weight: bold;
}

.txtsize-S {
	font-size: 12px;
}

.txtsize-M {
	font-size: 15px;
}

.txtsize-L {
	font-size: 18px;;
}

.txtsize-XL {
	font-size: 21px;;
}

#errors p, #success p {
	text-align: center;
	color: var(--light-shades);
	font-size: 17px;
  line-height: 170%;
	margin-top: 0;
	margin-bottom: 0;
}

#errors p {
	background-color: var(--alert);
	opacity: 0.8;
}

#success p {
	background-color: var(--success);
}

#notification {
	flex: 1;
	color: var(--dark-shades);
	text-align: center;
	font-size: 17px;
	margin-top: 5%;
}

#left p {
	text-align: left;
}

/* HEADER STYLING */

.topheader {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin: 0px auto;
	overflow: hidden;
	min-height: 100px;
	background-color: var(--dark-shades);
}

#logo img {
	max-width: 240px;
	padding: 15px 0px;
}

/** Navbar **/

#nav {
	margin-left: auto;
	list-style: none;
}

#nav ul, #nav li form {
	margin: 0;
	padding: 0;

}
#nav li {
	display: inline-block;
	padding: 0px 15px;
}

#nav a {
	font-weight: bold;
	font-size: 19px;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--main);
	padding: 12px 14px;

}

#nav a:hover {
	background: var(--main);
	color: var(--dark-shades);
	border-left: 1px solid;
}

#nav button {
	padding: 9px 8px;
	margin: 0px 8px;
}

/** Login container **/

.login-container {
	display: table;
	text-align: left;
	margin-left: auto;
}

.login-container div {
	display: table-cell;
}

.login-container a {
	font-family: "Trebuchet MS", helvetica, sans-serif;
	font-size: 15px;
	text-decoration: none;
	color: var(--main);
}

.login-container a:hover {
	background: var(--main);
	color: var(--dark-shades);
}

.topheader input {
	padding: 6px;
	margin-top: 24px;
	margin-right: 5px;
	font-size: 17px;
	border: none;
	width: 200px;
}

button.submit {
	color: var(--main);
	font-family: helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 17px;
	border: none;
	cursor: pointer;
	border-radius: 10px;
	background: var(--dark-shades);
}

button.submit:hover {
	color: var(--dark-shades);
	background: var(--main);
}

.login-container button {
	padding: 6px;
	margin-top: 24px;
	margin-right: 16px;
}

/* FOOTER STYLING */

.bottom-footer {
	display: flex;
	justify-content: center;
	align-content: center;
	height: 4%;
	min-height: 40px;
	bottom: 0;
	overflow: hidden;
	padding: 0rem;
	background: var(--dark-shades);
}

.bottom-footer p {
	font-size: 15px;
	color: var(--main);
}

/* CONTAINERS */

.container {
	margin-top: 5%;
	background-color: rgba(39, 26, 46, 0.9);
	color: var(--main);
}

.container input {
	padding: 1.4%;
	margin: 2px 0 18px 0;
	border: none;
	color: var(--dark-shades);
}

.container input:focus {
	background-color: var(--light-shades);
	opacity: 0.9;
	outline: none;
}

/* SMALL FORMS */

.small-container {
	margin-bottom: 0;
	top: 15%;
}

.small-container input {
	width: 60%;
}

.small-container p {
	text-align: left;
	margin-bottom: 5;
}

/* REGULAR FORMS */

.register-container h1, .register-container p, .settings-container h1 {
	text-align: center;
}

.register-container p {
	margin-bottom: 20px;
}

.register-container hr, .settings-container hr {
	border: 1px solid var(--light-shades);
	margin-bottom: 25px;
}

.post-container {
	display: flex;
	flex-direction: column;
	width: 45%;
}

#pic{
	width: 100%;
}

/* MANAGE ACCOUNT FORM */

#checkbox {
	width: 5%;
	cursor: pointer;
}

/* SUBMIT BUTTON */

.submit-form-button {
	color: var(--dark-shades);
	background-color: var(--main);
	font-size: 17;
	padding: 7px;
	cursor: pointer;
	border-radius: 10px;
}

.submit-form-button:hover {
	background-color: var(--main);
	opacity: 0.9;
}

/* CAMERA PAGE */

.add-picture-container {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	font-size: calc(10px + 1vw);
	line-height: calc(1.1em + 0.5vw);
	align-items: stretch;
}

.photomontage {
	flex: 70%;
	background-color: var(--main);
	padding: 20px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 55px;
	height: 27px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(244,67,54,0.8);
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: rgba(126,186,74,0.8);
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.camera {
	position: relative;
	margin: 10px 0px;
	height: 450px;
}

.preview{
	z-index: 0;
	position: absolute;
}

#canvasPreview {
	z-index: 1;
}

#canvas {
	margin: 10px 0px;
}

.pictureButton {
	margin-top: 5px;
	padding: 10px 15px;
	background-color: var(--dark-shades);
	color: var(--main);
	font-size: 17;
	cursor: pointer;
	border-radius: 10px;
}

.filters, .posts {
	padding: 10px 0;
	display: flex;
	flex-wrap: wrap;
}

.filter-frame {
	flex: 20%;
	margin: 2px;
	padding: 5px;
	border: solid 0.1em;
	border-color: var(--dark-shades);
	height: 150px;
	cursor: pointer;
}

.filters img {
	object-fit: contain;
}

.list-output {
	flex: 30%;
	padding: 20px;
	align-items: stretch;
	display: flex;
	flex-flow: column wrap;
}

.photo-frame {
	margin: 5px 20px;
	padding: 5px;
}

.list-output img{
	object-fit: contain;
}

.gallery {
	flex: 1;
	display: flex;
	align-items: stretch;
	flex-direction: column;
	background-color: var(--main);
	padding: 10px;
}

.gallery a {
	color: var(--dark-shades);
}

.post {
	flex: 0 1 24%;
	margin: 2px;
	padding: 5px;
	border: solid 0.1em;
	border-color: var(--dark-shades);
	background-color: var(--light-shades);
	cursor: pointer;
}

.post img {
	max-width: 100%;
}

.dark-background {
	background-color: var(--dark-shades);
}

.light-background {
	background-color: var(--light-shades);
	color: var(--dark-shades);
}

.pagination {
	margin-top: 10px;
	color: var(--dark-shades);
}

.bubble-radius {
	border-top-right-radius: 18px;
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
}
.comment-content {
	padding: 1px 10px;
	background-color: var(--comment-background);
	/*848295;*/
	color: var(--light-shades);
}

.comment-form input {
	background-color: var(--light-shades);
	margin: 10px 8px 10px 2px;
}

@media screen and (max-width:900px) {

	/* HEADER STYLING */

	.topheader {
		flex-flow: column nowrap;
		align-items: center;
	}

	#logo img {
		max-width: 150px;
		padding: 10px 0px;
	}

	#nav {
		flex: 0 1 auto;
		margin: 0;
		align-self: center;
	}

	#nav li {
		padding: 0;
	}

	.topheader input {
		margin: 0 5px;
		padding: 6px;
		font-size: 17px;
		border: none;
		width: 200px;
	}

	.login-container {
		display: flex;
		margin: 0;
	}

	#log-form{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin: 0;
	}

	.login-container a {
		margin: 0 5px;
	}

	.login-container button {
		margin-top: 5px;
	}

	#log-button {
		margin: 0;
		align-self: center;
	}

	.center {
		width: 80%;
	}

	.add-picture-container {
		flex-flow: column wrap;
	}

	.filter-frame {
		flex: 40%;
	}

	.post {
		flex: 0 1 100%;
	}

}
