{% extends layout %}

{% block title %} Camera {% endblock %}

{% block jshead %}
<script src="/public/js/camera.js"></script>
{% endblock %}

{% block alert %}
{% if (isset($_SESSION['alert']) && !empty($_SESSION['alert'])): %}
<div id={{ $alert }}>
	<p>{{ $_SESSION['alert']; }}</p>
</div>
{% endif; %}
{% $_SESSION['alert'] = NULL; %}
{% $_SESSION[$alert] = FALSE; %}
{% endblock %}

{% block content %}

<div class="add-picture-container full-height">

  <div class="photomontage">
    <h3>Your very own photobooth !</h3>

    <label class="switch">
      <input id="switchbutton" type="checkbox">
      <span class="slider round"></span>
    </label>

    <div class="camera">
      <img class="preview" id="photoInput" style="display:none" src="" alt="Choose a file"></img>
      <canvas class="preview" id="canvasPreview" height="450"></canvas>
      <video id="video" class="preview">Video stream not available.</video>
    </div>

    <input type="file" id="uploadFile" accept="image/.png, .jpg, .jpeg" style="display:none" >
    <button class="pictureButton" id="startbutton">Take a pic</button>

    <div class="filters full-width">
      <p class="full-width">Choose a filter !</p>
      <div class="filter-frame">
        <img class="full-width full-height" onclick="changeFilterPreview(event, 'frame.png')" src="/public/images/filters/frame.png"></img>
      </div>
      <div class="filter-frame">
        <img class="full-width full-height" onclick="changeFilterPreview(event, 'oops.png')" src="/public/images/filters/oops.png"></img>
      </div>
      <div class="filter-frame">
        <img class="full-width full-height" onclick="changeFilterPreview(event, 'versus.png')" src="/public/images/filters/versus.png"></img>
      </div>
      <div class="filter-frame">
        <img class="full-width full-height" onclick="changeFilterPreview(event, 'wow.png')" src="/public/images/filters/wow.png"></img>
      </div>
    </div>
    <canvas  id="canvas" style="display:none">
    </canvas>

  </div>

  <div class="list-output" id="list">
    <h3>Your pictures</h3>
    <p>Select the picture you want to post online</p>
    <form style="margin: 0;" action="/create-montage" method="post">
      <input id="rawPicture" type="hidden" name="rawPicture">
      <input id="filter" type="hidden" name="filterPath">
      <input id="filterSettings" type="hidden" name="filterSettings">
      <button class="pictureButton" id="postButton" type="submit" name="submit" disabled>Post</button>
    </form>
    </div>
  </div>
</div>

{% endblock %}
