{% extends layout %}

{% block title %}{{ $title }}{% endblock %}

{% block jshead %}
<script src="/public/js/formValidation.js"></script>
{% endblock %}

{% block alert %}
{% if (isset($_SESSION['alert']) && !empty($_SESSION['alert'])): %}
<div id={{ $alert }}>
  <p>{{ $_SESSION['alert']; }}</p>
</div>
{% $_SESSION['alert'] = NULL; %}
{% $_SESSION[$alert] = FALSE; %}
{% endif; %}
{% endblock %}

{% block content %}

<form method="post" action="/forgotten-password-submit" name="forgottenPwd" onsubmit="return validateForgottenPwdForm()">
  <div class="center container small-container">
    <p>Enter your email in order to reset your password<span id="errEmail"></span></p>
    <label for="email"></label>
    <input class="bubble-radius" type="text" placeholder="Email" name="email" id="email" required>

    <button class="submit-form-button" type="submit" name="reset-submit">OK</button>
  </div>
</form>

{% endblock %}
