<div class="gallery full-height">

  <h1>Welcome to Camagru !</h1>
  <p>The comic strip gallery</p>
  {% if (isset($_SESSION['loggedin']) && $_SESSION['loggedin'] == TRUE): %}
  <p>See <a href="/my-pictures">my pictures</a> &#62&#62</p>
  {% endif; %}

   <div class="posts">
     {% if (isset($pictures) && !empty($pictures)): %}
     {% foreach ($pictures as $picture): %}
        <div class="post">
          <a href="/picture-focus?id={{ $picture['PictureId'] }}&page={{ $page }}">
            <img src="{{ $picture['Img'] }}" alt='picture'>
          </a>
          <p> by {{ $picture['username'] }}</p>
          <p style="display:inline; {% if ($picture['isliked']): %} color: var(--alert); font-weight: bold; {% endif; %}">
            <a href="/add-like?id={{ $picture['PictureId'] }}&from=/&page={{ $page }}"><img src="/public/images/icons/drawn-heart.png" alt='heart' width="28"></a> {{ $picture['likes'] }}</p>
          <p style="display:inline;"><img src="/public/images/icons/bubble-speech.png" alt='bubble' width="37"> {{ $picture['comments']}}</p>
        </div>
     {% endforeach; %}
     {% endif; %}
   </div>

   <div class="pagination text-centered">
     {% if ($page - 1 < 0): %}
     &#60; <a class="pagination-button" disabled>Previous</a>
     {% else: %}
     &#60; <a href="/?page={{ $page - 1 }}" class="pagination-button">Previous</a>
     {% endif %}

     {% if ($page + 1 > $pageMax): %}
     <a class="pagination-button" disabled>Next</a> &#62;
     {% else: %}
     <a href="/?page={{ $page +1 }}&max={{ $pageMax }}" class="pagination-button">Next</a> &#62;
     {% endif %}
   </div>

</div>
