{% block alert %}
{% if (isset($_SESSION['alert']) && !empty($_SESSION['alert'])): %}
<div id={{ $alert }}>
	<p>{{ $_SESSION['alert']; }}</p>
</div>
{% $_SESSION['alert'] = NULL; %}
{% $_SESSION[$alert] = FALSE; %}
{% endif; %}
{% endblock %}

<!-- Top header menu containing logo, navigation bar and login form -->
<header class="topheader full-width">
	<div id="logo">
		<a href='/'>
			<img class="full-width" src="/public/images/logo.png" alt="Camagru logo"/>
		</a>
	</div>

{% if (isset($_SESSION['loggedin']) && $_SESSION['loggedin'] == TRUE): %}

	<!-- Navigation Menu -->
	<div id="nav">
		<ul>
				<li><a href="/camera">Camera</a></li>
				<li><a href="/settings">Settings</a></li>
				<li><form action="/logout" method="post">
				<button class="submit" type="submit" name="logout">Logout</button></form></li>
		</ul>
	</div>

{% else: %}

	<!-- Login container -->
	<div class="login-container">
		<form id="log-form" action="/login" method="post">
			<div>
				<input class="bubble-radius" type="text" placeholder="Username" name="username" autocomplete="off" required>
				<br><a href="/register">Create new account</a>
			</div>
			<div>
				<input class="bubble-radius" type="password" placeholder="Password" name="password" autocomplete="off" required>
				<br><a href="/forgotten-password">Forgotten password ?</a>
			</div>
			<div id="log-button">
				<button class="submit" type="submit" name="login">Log in</button>
			</div>
		</form>
	</div>

{% endif; %}
</header>
