<?php
session_start();
?>

<html>
	<head>
		<title>Camagru | {% yield title %}</title>
		<link rel="stylesheet" href="/public/css/style.css">
		<link rel="shortcut icon" type="image/png" href="/public/images/favicon.ico">
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
		{% yield jshead %}
	</head>
	<body>
		<div class="page-main">
			{% include header %}
			{% yield errors %}
			{% yield alert %}
			{% yield content %}
			{% include footer %}
		</div>
	</body>
</html>
