{% extends layout %}

{% block title %}{{ $title }}{% endblock %}

{% block content %}
<div class="gallery full-height">
  <h1>My pictures</h1>
  <p>Your own comic strip</p>
  <p>&#60;&#60; Back to <a href="/">Gallery</a></p>
   <div class="posts full-width">
     {% if (isset($userPictures) && !empty($userPictures)): %}
     {% foreach ($userPictures as $userPicture): %}
        <div class="post">
          <a href="/delete-picture-request?id={{ $userPicture['PictureId'] }}">
            <img style="position: absolute; margin: 2px;" src="/public/images/icons/delete.png" alt='del' width="30">
          </a>
          <a href="/picture-focus?id={{ $userPicture['PictureId'] }}">
            <img src="{{ $userPicture['Img'] }}" alt='egotrip'>
          </a>
          <p class="bold txtsize-M"> by You</p>
          <p style="display:inline; {% if ($userPicture['isliked']): %} color: var(--alert); font-weight: bold; {% endif; %}">
            <a href="/add-like?id={{ $userPicture['PictureId'] }}&from=/my-pictures&page={{ $page }}"><img src="/public/images/icons/drawn-heart.png" alt='heart' width="28"></a> {{ $userPicture['likes'] }}</p>
          <p style="display:inline;"><img src="/public/images/icons/bubble-speech.png" alt='bubble' width="37"> {{ $userPicture['comments']}}</p>
        </div>
     {% endforeach; %}
     {% endif; %}
   </div>
   <div class="pagination text-centered">
     {% if ($page - 1 < 0): %}
     &#60; <a class="pagination-button" disabled>Previous</a>
     {% else: %}
     &#60; <a href="/my-pictures?page={{ $page }}" class="pagination-button">Previous</a>
     {% endif %}

     {% if ($page + 1 > $pageMax): %}
     <a class="pagination-button" disabled>Next</a> &#62;
     {% else: %}
     <a href="/my-pictures?page={{ $page }}" class="pagination-button">Next</a> &#62;
     {% endif %}
   </div>
</div>

{% endblock %}
