{% extends layout %}

{% block title %}{{ $title }}{% endblock %}

{% block content %}
<div id="notification">
{{ $message }}
{% if(isset($choice)): %}
<form action={{ $uri }} method='post' name="deleteForm">
  <button class="submit-form-button" type='submit' name='action' value='yes'> Yes </button>
  <button class="submit-form-button" type='submit' name='action' value='cancel'> Cancel </button>
</form>
{% endif; %}
</div>
{% endblock %}
