{% extends layout %}

{% block title %}{{ $title }}{% endblock %}

{% block jshead %}
<script src="/public/js/formValidation.js"></script>
{% endblock %}

{% block content %}
<div class="gallery full-height">
  <br>
  <p class="txtsize-XL">&#60;&#60; Back to <a href="/?page={{ $page }}">Gallery</a></p>

  <div class="center container post-container" style="margin-bottom: 5%;">
    <div>
      <img id="pic" src="{{ $picture['Img'] }}" alt='picture'>
    </div>

    <div>
      <p class="bold txtsize-L"> by {{ $picture['username'] }}</p>
      <p style="display:inline; {% if ($picture['isliked']): %} color: var(--alert); font-weight: bold; {% endif; %}">
        <a href="/add-like?id={{ $picture['PictureId'] }}&from=/picture-focus"><img src="/public/images/icons/drawn-heart.png" alt='heart' width="28"></a> {{ $picture['likes'] }}</p>
      <p style="display:inline;"><img src="/public/images/icons/bubble-speech.png" alt='bubble' width="37"> {{ $picture['commentsNb']}}</p>
    </div>

    <div>
      <hr>
      <div class="comment-form">
        <form method="post" action="/comment-submit?id={{ $picture['PictureId'] }}" name="comment" onsubmit="return validateCommentForm('{{ $log }}')">
          <input class="bubble-radius" style="width: 80%;" type="text" placeholder="Your comment here..." name="content" id="comment" maxlength="255">
          <button class="submit-form-button" type="submit" name="submit">Post comment</button>
          <span id="errComment"></span>
        </form>
      </div>
    </div>

    {% if (isset($comments) && !empty($comments)): %}
    {% foreach ($comments as $comment): %}
      <div class="comment">
        <p class="bold txtsize-M">{{ $comment['username'] }}</p>
        <div class="comment-content bubble-radius">
          <p class="txtsize-M">{{ $comment['Content'] }}</p>
          <p class="txtsize-S">{{ $comment['CreatedAt'] }}</p>
        </div>
      </div>
    {% endforeach; %}
    {% endif; %}

  </div>
</div>
{% endblock %}
