{% extends layout %}

{% block title %}Registration Form{% endblock %}

{% block jshead %}
<script src="/public/js/formValidation.js"></script>
{% endblock %}

{% block errors %}
{% if (isset($_SESSION['error_bag']) && !empty($_SESSION['error_bag'])): %}
<div id="errors">
{% foreach ($_SESSION['error_bag'] as $error): %}
<p>{{ $error }}</p>
{% endforeach; %}
</div>
{% $_SESSION['error_bag'] = array(); %}
{% endif; %}
{% endblock %}

{% block alert %}
<div id={{ $alert }}>
	{% if(isset($_SESSION['alert']) && !empty($_SESSION['alert'])): %}
		<p>{{ $_SESSION['alert']; }}</p>
		{% $_SESSION['alert'] = NULL; %}
		{% $_SESSION[$alert] = FALSE; %}
	{% endif; %}
</div>
{% endblock %}

{% block content %}
<div class="center container register-container">
	<form method="post" action="/register-submit" name="registration" onsubmit="return validateRegistrationForm()">
		<h1>Create New Account</h1>
		<p>Please fill in this form to create an account.</p>
		<hr>

		<label for="email"><b>Email :</b></label><span id="errEmail"></span>
		<input class="full-width bubble-radius" type="text" placeholder="Enter Email" name="email" id="email" required>

		<label for="username"><b>Username</b> <i>(max. 50 alphanumeric characters)</i> : </label><span id="errUsername"></span>
		<input class="full-width bubble-radius" type="text" placeholder="Enter Username" name="username" id="username" maxlength="50" required>

		<label for="pwd"><b>Password</b> <i>(must be between 12 and 72 characters, including letters, numbers and special characters)</i> : </label><span id="errPwd"></span>
		<input class="full-width bubble-radius" type="password" placeholder="Enter Password" name="pwd" id="pwd" maxlength="72" required>

		<label for="pwdRepeat"><b>Repeat Password</b> : </label><span id="errPwdRepeat"></span>
		<input class="full-width bubble-radius" type="password" placeholder="Repeat Password" name="pwdRepeat" id="pwdRepeat" maxlength="72" required>

		<button class="submit-form-button" type="submit" name="register">Create account</button>
	</form>
</div>
{% endblock %}
