{% extends layout %}

{% block title %}{{ $title }}{% endblock %}

{% block jshead %}
<script src="/public/js/formValidation.js"></script>
{% endblock %}

{% block content %}
<form method="post" action="/reset-password-submit" name="resetPwd" onsubmit="return validateResetPwdForm()">
  <div class="center container small-container">
    <input type="hidden" name="username" value="{{ $username }}">
    <p><b>New password</b><span id="errPwd"></span></p>
    <label for="pwd"><i>(must be between 12 and 72 characters, including letters, numbers and special characters)</i></label>
    <input type="password" placeholder="Password" name="pwd" id="pwd" maxlength="72" required>

    <p><b>Repeat new password</b><span id="errPwdRepeat"></span></p>
    <label for="pwdRepeat"><i>(must be between 12 and 72 characters, including letters, numbers and special characters)</i></label>
    <input type="password" placeholder="Repeat password" name="pwdRepeat" id="pwdRepeat" maxlength="72" required><br>

    <button class="submit-form-button" type="submit" name="reset">Reset password</button>
  </div>
</form>
{% endblock %}
