{% extends layout %}

{% block title %} Settings {% endblock %}

{% block jshead %}
<script src="/public/js/formValidation.js"></script>
{% endblock %}

{% block content %}

<div class="center container settings-container">
  <h1>Account settings</h1>
  <hr>
	<br>

<form action='/change-settings?action=username' method='post' name="usernameForm" onsubmit="return validateUsernameForm()">
	<label><b>New username </b><i>(max. 50 alphanumeric characters)</i> : </label><span id="errUsername"></span>
	<input class="full-width bubble-radius" type='text' maxlength='50' name='username' required>
	<button class="submit-form-button" type='submit' name='submit'> Save changes </button>
</form>
<br>

<form action='change-settings?action=email' method='post' name="emailForm" onsubmit="return validateEmailForm()">
	<label><b>New email : </b></label><span id="errEmail"></span>
	<input class="full-width bubble-radius" type='text' name='email' required><br>
	<button class="submit-form-button" type='submit' name='submit'> Save changes </button>
</form>
<br>

<form action='change-settings?action=password' method='post' name="resetPwd" onsubmit="return validateResetPwdForm()">
	<label><b>Old password : </b></label>
	<input class="full-width bubble-radius" type='password' name='oldPwd' required><br>
	<label><b>New password </b><i>(12-72 characters, including letters, numbers and special characters)</i> : </label><span id="errPwd"></span>
	<input class="full-width bubble-radius" type='password' name='pwd' required><br>
	<label><b>Repeat new password : </b></label><span id="errPwdRepeat"></span>
	<input class="full-width bubble-radius" type='password' name='pwdRepeat' required><br>
	<button class="submit-form-button" type='submit' name='submit'> Save changes </button>
</form>
<br>

<form action='change-settings?action=commentNotif' method="post" name="commentNotif">
	<label><b>Notification</b><br>Would you like to be notified by email when someone comments your posts ?</label>
	<input id="checkbox" type="checkbox" name="commentNotif" value="1" {{ $checkbox }}>
	<button class="submit-form-button" type='submit' name='submit'> Save changes </button>
</form>

<form action='change-settings?action=delete' method='post'>
  <br>
	<label><b>Delete</b><br>If you wish to delete your account, please enter your password :</label>
	<input class="full-width bubble-radius" type='password' name='pwd' required><br>
	<button class="submit-form-button" type='submit' name='submit'> Save changes </button>
</form>
<br>

</div>

{% endblock %}
